.metaCoords {
    width:300px;
    height:300px;
    border:1px solid #c0c0c0;
}
.title {
    font-weight: bold;
}
.experiment-locations {
    display: none;
}
.experiment {
    width: 300px;
    float: left;
}
.experimentContainer {
    padding-bottom: 15px;
    padding-top: 15px;
}
.boxed {
    border: 1px solid black;
}
.gradient-style
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    float: left;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
    border-collapse: collapse;
}
