{% extends base.html %}

{% block header %}

    <title>Brainspell v2 - An open, human-curated classification of neuroimaging literature</title>


{% end %}

{% block content %}
    <!-- Search Functionality  -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Brainspell</h1>
                <p class="lead">An open, human-curated classification of neuroimaging literature.</p>
                <form method="get" action="search">
                    <div class="input-group">
                       <input id='searcher' type="text" name="q" style="width:90%" placeholder="Search articles by title, author, keyword..." class="form-control">
                       <select name="req" id="req" class="selectpicker form-control" style="width: 10%;">
                            <option selected value="t" id="default">Title, author, abstract</option>
                            <option value="x" id="experiments">Experiments</option>
                            <option value="p" id="pmid">PubMed ID</option>
                            <option value="r" id="reference">Reference</option>
                       </select>
                       <span class="input-group-btn">
                            <input type="submit" class="btn btn-default" value="Search" />
                       </span>
                    </div>
               </form>
                <p style="font-style:italic;text-align:left;padding-top:10px">Use [au] for author, [ALL] for all fields, [MH] for mesh descriptors, [PMID] for pubmed ID, [TIAB] for title/abstract search.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container" style="padding-top:20px;padding-bottom:30px">
        <div onclick="showAPIKey(this)" class="alert alert-success"
                {% if registered!=1 %}
                style="display: none;"
                {% end %}>
            <strong>You're registered!</strong> Click this box for your API key.
        </div>
        <div class="alert alert-success"
                {% if success!=1 %}
                style="display: none;"
                {% end %}>
            <strong>Well done!</strong> You've successfully added your articles to our database. They might take a while to fully process.
        </div>
        <div class="alert alert-danger"
                {% if failure!=1 %}
                style="display: none;"
                {% end %}>
            <strong>Oh snap!</strong> It looks like your JSON file was malformatted. Are you sure that each article dictionary was contained in a list?
        </div>
        <div id="randomResults">
        </div>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

     <script>
        // TODO: move to separate file so it can be cached
        var $resultClone = $("<div>", {"class": "row"}).css("padding", "10px");
        $("#randomResults").append($("<p>").css("color", "#c0c0c0").text("Loading..."));
        $(
            $.ajax({
                type: "GET",
                url: "/json/random-query"
            }).complete(function(o) {
                j = o.responseText;
                console.log(j);
                obj = JSON.parse(j);
                var holder = {{ number_of_queries }};
                $("#randomResults").html("");
                $("#randomResults").append($("<p>").css("color", "#c0c0c0").text(holder + " articles indexed"));
                $("#randomResults").append($("<p>").css("color", "#c0c0c0").text("Randomly selected articles:"));
                obj = obj["articles"];
                for (var i = 0; i < obj.length; i++) {
                    var article = obj[i];
                    var $result = $resultClone.clone();
                    $result.append($("<a>", {"href": "view-article?id=" + article["id"]}).text(article["title"].replace(/\\"/g, '"').replace(/\\'/g, "'")));
                    $result.append($("<p>").text(article["authors"].split(",").join(", ").replace(/\\"/g, '"').replace(/\\'/g, "'")));
                    $("#randomResults").append($result);
                }
            })
        );

        function showAPIKey(box) {
            box.innerHTML = "Your API key is: {{api_key}}";
            box.onclick = function() { };
        }
         // Updates the search options in response to selected tag
         $("#req").change(function() {
             if ($("#req").val() == "x") {
                 $("#searcher").hide();
                 var field = `
                    <input id='x' type="number" value='0' name="x" style="width:22.5%" placeholder="x-coordinate" class="form-control experiments">
                    <input id='y' type="number" value='0' name="x" style="width:22.5%" placeholder="y-coordinate" class="form-control experiments">
                    <input id='z' type="number" value='0' name="x" style="width:22.5%" placeholder="z-coordinate" class="form-control experiments">
                    <input id='radius' type="number" value='0' name="x" style="width:22.5%" placeholder="radius" class="form-control experiments">
                 `;
                 $("#req").before(field);
                 format_experiments();
             } else {
                 $("#searcher").show();
                 $(".experiments").hide();
             }
         });
        function format_experiments() {
            $("#searcher").val("0,0,0,0");
            $(".experiments").keyup(function () {
                let x = $("#x").val() || 0;
                let y = $("#y").val() || 0;
                let z = $("#z").val() || 0;
                let radius = $("#radius").val() || 0;
                let formatted = `${x},${y},${z},${radius}`;
                $("#searcher").val(formatted);
            });
        }
    </script>


{% end %}

