<div style="width:600px;margin-left:auto;margin-right:auto;margin-top:2rem">
	<large><strong>31 Decembre 2013</strong></large>
    <h2>Brain viewer, more data fields, and discussion section</h2>
	<div style="background-color:#f8f8f8;padding:1rem">
		<p>I have just uploaded a new update of brainspell. There are several new things:</p>
		<p>1. Now when you search for a term, a simple stereotaxic brain viewer shows the locations corresponging to your search. The first time you use it the viewer may take some time to load the brain anatomy used for reference (<a href="http://www.bic.mni.mcgill.ca/ServicesAtlases/Colin27">Colin27</a>), but afterwards it will be stored locally in your browser's cache and be much faster.</p>
		<p>2. I added more fields for gathering data about the articles in the database. There's one field for entering the stereotaxic space (either MNI or Talairach), and another one to enter the total number of subjects used in the article (this information is quite hard to get using automatic text-mining alone...). There is also a field bellow each table to flag incorrectly parsed data. This may be a table with repeated coordinates, or displaying numbers which are actually not stereotaxic coordinates.</p>
		<p>3. Finally, at the end of each paper there is a new Discussion section, where you can better explain your choices, our discuss someone else's tags.</p>
		<br/>
		<p>I recently discovered how to make screencasts, and made these 2 youtube videos, one showing the brainspell's GUI (a previous version... I'll have to record a new one), and the other showing the <a href="https://github.com/r03ert0/CoactivationMap.app">Brain Coactivation Map Viewer</a>. If you like brainspell, you may want to check the CoactivationMap.app. It uses all the same data of brainspell (kindly provided by Tal Yarkoni's excellent <a href="http://neurosynth.org">neurosynth</a> web app) to create an interactive coactivation map of the human brain. As you browse through the different brain regions, you will see the corresponding coactivation networks, and a list of the <a href="https://en.wikipedia.org/wiki/Medical_Subject_Headings">MeSH</a> tags whose associated network most closely match the current one. Clicking on those tags will launch a query in brainspell showing the corresponding articles. Here are the links:</p>
		<br/>
		<p>Quick intro to brainspell: <a href="http://www.youtube.com/watch?v=ZZTI6ArG4AU">http://www.youtube.com/watch?v=ZZTI6ArG4AU</a></p>
		<br />
		<iframe style="display:block;margin:0 auto" width="420" height="315" src="//www.youtube.com/embed/ZZTI6ArG4AU" frameborder="0" allowfullscreen></iframe>
		<br />
		<p>Quick intro to the CoactivationMap.app: <a href="http://www.youtube.com/watch?v=jtZMkvyf8iQ">http://www.youtube.com/watch?v=jtZMkvyf8iQ</a></p>
		<br />
		<iframe style="display:block;margin:0 auto" width="420" height="315" src="//www.youtube.com/embed/jtZMkvyf8iQ" frameborder="0" allowfullscreen></iframe>
		<p align=right>––Roberto</p>
	</div>
</div>

<div style="width:600px;margin-left:auto;margin-right:auto;margin-top:2rem">
	<large><strong>4 July 2013</strong></large>
    <h2>Full text links</h2>
	<div style="background-color:#f8f8f8;padding:1rem">
		<p>Now articles present a link to the full text version in the journal's website (Additionally, several bugs have been corrected - from the many that may still lurk around)</p>
		<p align=right>––Roberto</p>
	</div>
</div>

<div style="width:600px;margin-left:auto;margin-right:auto;margin-top:2rem">
	<large><strong>9 June 2013</strong></large>
	<h2>RSS feed</h2>
	<div style="background-color:#f8f8f8;padding:1rem">
		<p>Addition of an <a href="/feed.xml">RSS Feed</a>. This is a very handy way of being up-to-date with brainspell modifications and additions</p>
		<p align=right>––Roberto</p>
	</div>
</div>

<div style="width:600px;margin-left:auto;margin-right:auto;margin-top:2rem">
	<large><strong>4 June 2013</strong></large>
	<h2>Many first things today!</h2>
	<div style="background-color:#f8f8f8;padding:1rem">
		<p>First functional version of brainspell is now on-line, taking queries, user registrations, and tags!</p>
		<p>First version of the database is also available for <a href="/download">download</a>.</p>
		<p>First round	of beta testing (with mostly "sandbox" tagging).</p>
		<p>In summary, the first day of our open, human curated, classification of the neuroimaging literature!</p>
		<p align=right>––Roberto</p>
	</div>
</div>

<div style="width:600px;margin-left:auto;margin-right:auto;margin-top:2rem">
	<large><strong>2 June 2013</strong></large>
	<h2>Welcome to brainspell!</h2>
	<div style="background-color:#f8f8f8;padding:1rem">
		<p>The first functional version of the application was finished today. For the moment, it only works locally in my computer, but I should be uploading it to its definitive location very soon.</p>	  
		<p align=right>––Roberto</p>
	</div>
</div>

<br />