<style>
table {
	border-width:0;
	border-collapse:collapse;
	border-spacing:0;
}
td {
	border-width:1px;
	border-color:#ddd;
	border-style:solid;
}
</style>

<table width="100%" height="100%">
	<tr height='20px'>
		<td style="width:50%">
			Paste the comma-separated table text here and click <a href=#><b id="parse_button">Parse</b></a>
		</td>
		<td style="width:50%">
			Result
		</td>
	</tr>
	<tr>
		<td>
			<div id="text" style="width:100%;height:100%;overflow-y:scroll" contentEditable=true>
			</div>
		</td>
		<td style="vertical-align:middle;text-align:center">
			<div id="table" style="width:90%;margin:auto"></div>
			<div>
				<button id="import_button">Import</button>
				<button id="cancel_button">Cancel</button>
			</div>
		</td>
	</tr>
</table>
