<div style="width:600px;margin-left:auto;margin-right:auto;margin-top:2rem">
	<h2>HOME PAGE OF <span id="HomeUsername"></span></h2>
	<!--AccountSettings-->
</div>

<!--
<div style="width:600px;margin-left:auto;margin-right:auto;margin-top:2rem">
	<large><strong id="date">4 June 2013</strong></large>
	<h2 id="title">Many first things today!</h2>
	<div id="body" style="background-color:#f8f8f8;padding:1rem">
		<p>First functional version of brainspell is now on-line, taking queries, user registrations, and tags!</p>
		<p>First version of the database is also available for <a href="/download">download</a>.</p>
		<p>First round	of beta testing (with mostly "sandbox" tagging).</p>
		<p>In summary, the first day of our open, human curated, classification of the neuroimaging literature!</p>
		<p align=right>––Roberto</p>
	</div>
</div>
-->

<script>
var	homeUsername="<!--HomeUsername-->";
$("span#HomeUsername").text(homeUsername.toUpperCase());
</script>
