$contentWidth:  800px;
$tagGreen:      #8c8;
$tagOrange:     #fb8;
$tagRed:        #e77;

$xyzBackground: #fbf9f6;
$xyzHeader:     #ebe1d3;

$orange:        #ed8000;
//$green:         #889780;
$green: #000;

$white:         #fff;
$lightGrey:     #ddd;
$grey:          #888;
$darkGrey:      #444;
$black:         #000;

$bodySerif:     Georgia,"New Century Schoolbook","Nimbus Roman No9 L",serif;
$headingSans:   Tahoma,Geneva,Verdana,sans-serif;
$tagSans:       sans-serif;

$fontSmall:     0.7rem;
$fontNormal:    0.8rem;
$fontSubtitle:  0.9rem;
$fontTitle:     1rem;

.print-only{display:none}
@media print{
    print-only { display:block}
}
* {
    padding:0
}

.paper-stuff h3
{
    margin:0;
}

/* START RT */
html {
    height:100%
}
body {
    margin:0;
    height:100%;
    text-align:left;
    color:$darkGrey;
    font-family:$bodySerif;
    font-size:$fontNormal;
    line-height:1.5
}
h2 {
    font-family:$headingSans;
    font-size:$fontTitle;
    font-weight:bold;
    padding:5px 0px;
}
h2.paper-title{
    text-transform:uppercase
}
h2.blog{
    margin:0;
    padding:0;
}
.blog a{
    color:$darkGrey;
}
h2 strong{
    color:$darkGrey
}
h3 {
    font-family:$headingSans;
    font-size:$fontTitle;
    font-weight:400;
    line-height:1;
    color:$darkGrey;
}
h3 span{
    text-transform:none
}
h3 strong{
    color:$darkGrey;
    font-weight:400
}
h4 {
    font-family:$headingSans;
    font-size:$fontTitle;
    font-weight:bold;
    display:inline;
    position:relative
}
table {
    font-size:$fontNormal
}

/* Reference list */
.paper-list li{
    list-style-type:none;
    position:relative;
    padding-bottom:10px;
}
.paper-list h3 {
    margin:0
}
.info {
    font-size:$fontSubtitle;
    color:$grey;
    margin:0
}

/* New article warning */
#new-article-warning {
    display:none;
}

/* Article */
.abstract{
    padding:0 0px;
    text-align:justify;
    -moz-hyphens:auto;
    hyphens:auto;
    -moz-column-count:2;
    -webkit-column-count:2;
    column-count:2;
    -moz-column-gap:30px;
    -webkit-column-gap:30px;
    column-gap:30px;
}
.experiment {
  padding: 10px;
}

[contenteditable]:active,
[contenteditable]:focus {
    border:none;
    outline:none;
}
div[contenteditable] {
	background-color:#f7f7f7;
}
div.stored {
	border:thin solid lightGrey;
	margin: 1px;
}
.experiment-locations {
  background-color: #fafafa;
  padding:0px;
}
.experiment-locations table{
    width:150px;
    color:$darkGrey;
    text-align:center
}
.experiment-locations table thead th{
    background-color:$xyzHeader
}

.experiment-locations th,td input[type=image] {
	width:10px;
	outline:none;
}
.experiment-locations th.coordinate, td.coordinate {
	width:30px;
}
.experiment-locations th.input, td.input {
	width:14px;
}
.xyztable {
    overflow-y:auto;
    border-bottom:thin solid $lightGrey;
}
.tableActions {
    display:none;
    padding:8px 3px;
}
.button {
    background-color:white;
    border:thin solid $lightGrey;
    padding:2px;
    font-family: $tagSans;
    text-align:center;
    cursor:pointer;
}
/* Ontology modal */
.light_overlay {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:$black;
    opacity:.2;
    z-index:1001;
}
.light_content {
    display:none;
    position:fixed;
    top:3rem;
    left:3rem;
    bottom:3rem;
    right:3rem;
    margin:0 auto;
    background-color:$white;
    box-shadow:2px 2px 20px rgba(0,0,0,.7);
    z-index:1002;
}

/* Concept modal */
.box_overlay {
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:$black;
    opacity:0.2;
    z-index:1003;
}
.box_content {
    display:none;
    position:fixed;
    top:30px;
    left:30px;
    bottom:30px;
    right:30px;
    margin:auto auto;
    background-color:$white;
    box-shadow:2px 2px 20px rgba(0,0,0,.7);
    z-index:1004;
}

/* Tags */
.tag {
    font-family:$tagSans;
    font-size:$fontSmall;
    position:relative;
    display:inline-block;
    min-height:14px;
    margin:2px 1px;
    padding:0px 4px;
    border:1px solid lightGrey;
    border-radius:2px;
    background-color:$white;
    box-shadow:1px 1px 3px rgba(0,0,0,.3);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    border-top-left-radius:10px;
    border-bottom-left-radius:10px;
}
.tag:hover {
    background-color:$lightGrey;
    border-color:$grey;
}
.tag a{
    color:$darkGrey
}
.tag a:hover,.tag a:focus{
    color:$orange;
    text-decoration:none
}
.green {
    border-left:7px solid $tagGreen;
}
.orange {
    border-left:7px solid $tagOrange;
}
.red {
    border-left:7px solid $tagRed;
}
textarea{
    border:1px solid $lightGrey
}


/* Start general */
button
{
    background-color:white;
    border:1px solid lightGrey;
    padding:5px;
}
button:hover
{
    background-color:lightGrey;
    cursor:pointer;
}
/* End general */

/* END RT */

fieldset{border:0}

html{-webkit-font-smoothing:antialiased}

a{
    cursor:pointer;
    color:$darkGrey;
    text-decoration:none
}
a:hover,a:focus{
    text-decoration:underline;
    color:$orange;
}

/* Style of navigation tab links */
a.nav{
    color:$darkGrey
}
a.nav:hover{
    color:$orange
}

/* Core and Footer */
.wrap {
    min-height: 100%
}
.content {
    overflow:auto;
    padding-bottom: 100px;  /* must be same height as the footer */

    max-width:$contentWidth;
    margin:0 auto
}
.footer {position: relative;
    margin-top: -100px;     /* negative value of footer height */
    height: 100px;
    clear:both;
    background-color:black;
}

/* content section, subsection */
.section{
    margin-left:0px;
    margin-right:0px;
    margin-top:50px;
    margin-bottom:50px;
}
.subsection{
    margin-left:0px;
    margin-right:0px;
    margin-top:20px;
    margin-bottom:20px;
}
.subsection.home{
    padding-left:3rem;
    padding-right:3rem;
}
/* Header */
.header {
    position:relative;
    width:$contentWidth;
    margin:0 auto;
    font-family:$headingSans
}

.fl{float:left!important}
.fr{float:right!important}
.header .content{
    padding:3rem 0
}
.header .fl.ninja:hover,.header .fl.ninja:focus{
    text-decoration:none
}
.header .fr li{
    display:inline;
    padding-left:20px
}
.header .fr li a{
    display:inline-block;
    padding-bottom:1rem;
    margin-bottom:1px;
    text-decoration:none
}
.header .fr li a:hover,.header .fr li a:focus{
    margin-bottom:0;
    border-bottom:1px solid $lightGrey;
}
.header .fr li.on a{
    margin-bottom:0;
    border-bottom:2px solid $lightGrey;
    color:$black}
.header .fr li.on a:hover,.header .fr li.on a:focus{
    border-color:$orange
}

#search{
    width:100%;
    padding:10px 80px 10px 20px;
    border:1px solid $lightGrey;
    font-family:$bodySerif;
    font-size:$fontTitle;
}

#home-search{position:relative}
#home-search button{
    position:absolute;
    right:20px;
    bottom:10px;
    padding:0px;
}