.metaCoords {
    width:300px;
    height:300px;
    border:1px solid #c0c0c0;
}
.title {
    font-weight: bold;
}
.experiment-locations {
    display: none;
}
.experiment {
    width: 300px;
    float: left;
}
.experimentContainer {
    padding-bottom: 15px;
    padding-top: 15px;
}
.boxed {
    border: 1px solid black;
}
.gradient-style
{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    float: left;
    font-size: 12px;
    margin-right: 20px;
    margin-top: 20px;
    text-align: left;
    border-collapse: collapse;
}
.gradient-style td
{
    padding: 8px;
    color: #669;
}
.gradient-style tr {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    background-color: #e8edff;
}
.gradient-style tbody tr:hover td
{
    background-color: #d0dafd;
    color: #339;
}
.experiment-header {
    font-weight: bold;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}
.scroller thead, tbody, tr, th, td {display: block;}
.scroller thead tr {
    /* fallback */
    width: 80%;
    /* minus scroll bar width */
    width: -webkit-calc(100% - 16px);
    width:    -moz-calc(100% - 16px);
    width:         calc(100% - 16px);
}
.scroller tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
.scroller tbody {
    height: 200px;
    width: 340px; /* can't be greater for mobile devices */
    overflow-y: auto;
    overflow-x: hidden;
}
.scroller tbody td, thead th {
    width: 25%;
    float: left;
}