<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://brainspell.herokuapp.com/static/img/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Account - Brainspell v2</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://brainspell.herokuapp.com/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43071909-12', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    {% if message == "NoInfo" %}
        <script>
        // TODO: NEED TO REMOVE ALL ALERTS LIKE THIS; change to normal message in the HTML
        alert("No Information has changed")</script>
    {% end %}

    {% if message == "mismatch" %}
        <script>alert("Confirmed Password does not match")</script>
    {% end %}
    {% if message == "badPass" %}
        <script>alert("Password does not match user file")</script>
    {% end %}

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="./">Brainspell</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if title=="" %}
                    <li>
                        <a href="./login">Login</a>
                    </li>
                    <li>
                        <a href="./register">Register</a>
                    </li>
                {% end %}
                {% if title!="" %}
                    <li>
                        <a href="./logout">Logout</a>
                    </li>
                {% end %}
                    <li>
                        <a href="./contribute">Contribute</a>
                    </li>
                    <li>
                        <a href="https://github.com/OpenNeuroLab/brainspell-neo">GitHub</a>
                    </li>
                </ul>
                {% if title!="" %}
                    <a href="./account" class="navbar-brand navbar-right"style="font-size:1em;">Welcome {{ title }}</a>
                {% end %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <div class="container">

    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
            <h1>My Profile</h1>
        </div>
      </div>
    </div>

      <h3>Saved Articles</h3>

    <div id="saved-articles" style="padding: 20px">
      <span style="color:#c0c0c0;">Loading...</span>
    </div>

<form class="form-horizontal">
<fieldset>
<!-- Text input-->
<legend style="text-align:center;">Change Username</legend>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Username: {{ username }}</label>
    <div class="col-md-4">
  <input id="textinput" name="newUserName" type="text" placeholder="New Username..." class="form-control input-md">
    <p>
        <br>
        <br>
    </p>
  </div>
</div>

<!-- Text input-->
<legend style="text-align:center;">Change Password</legend>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Current Password</label>
  <div class="col-md-4">
  <input id="textinput" name="currentPassword" type="password" placeholder="Enter Current Password" class="form-control input-md">
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">New Password</label>
  <div class="col-md-4">
  <input id="textinput" name="newPassword" type="password" placeholder="Enter New Password" class="form-control input-md">

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Confirm New Password</label>
  <div class="col-md-4">
  <input id="textinput" name="confirmedPassword" type="password" placeholder="Reenter New Password" class="form-control input-md">
  </div>
</div>



<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button formmethod="post" id="singlebutton" name="singlebutton" class="btn btn-primary">Save</button>
  </div>
</div>

</fieldset>
</form>
    <!-- jQuery Version 1.11.1 -->
    <script src="https://brainspell.herokuapp.com/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://brainspell.herokuapp.com/static/js/bootstrap.min.js"></script>

    <script>

    function deleteArticle(id) {
      $.ajax({
          type: "GET", 
          url: "/json/delete-article?article=" + id,
      }).complete(function(o) {
        location.reload();
      });
    }

    $(
      $.ajax({
          type: "POST", 
          url: "/json/saved-articles",
          data: {
            "email": "{{ title }}",
            "password": "{{ password }}"
          }
      }).complete(function(o) {
          j = o.responseText;
          console.log(j);
          obj = JSON.parse(j);

          var collections = {};

          for (var i = 0; i < obj["articles"].length; i++) {
            //console.log(obj["articles"][i])
            article = obj["articles"][i]
            if (obj["articles"][i]["collection"] in collections) {
              collections[obj["articles"][i]["collection"]].push(article);
            } else {
              collections[obj["articles"][i]["collection"]] = [article];
            }
          }

          $("#saved-articles").html("")

          for (var c in collections) {
            var tempTitle = c;
            if (tempTitle == "null") {
              tempTitle = "(No collection)";
            }
            $("#saved-articles").append($("<h5>").text(tempTitle));
            var articlesUl = $("<ul>")
            for (var i = 0; i < collections[c].length; i++) {
              article = collections[c][i];
              articlesUl.append($("<li>").append($("<a>").attr("href", 
                "/view-article?id=" + article["pmid"]).text(article["title"])).append($("<span>").css("padding-left", "3px").append("(").append($("<a>").text("X").attr("href", "#!").attr("onclick", "deleteArticle(" + article["id"] + ")")).append(")")))
            }
            $("#saved-articles").append(articlesUl)
          }
      })
    );

    </script>

</body>
</html>