{% extends base.html %}


{% block header %}
    <title>Contribute</title>
    <link href="/static/css/contribute.css" rel="stylesheet">
{% end %}


{% block content %}


    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Brainspell</h1>
                <p class="lead">An open, human-curated classification of neuroimaging literature.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container" style="padding-bottom: 30px;">
        <h2>Add a set of articles</h2>
        <p>Have a list of articles to insert? Provide us with an input form in the following format and we'll add it to our database. Note file sizes are capped at 2 MB. The <code>year</code>, <code>journal</code>, <code>experiments</code>, <code>doi</code>, and <code>meshHeadings</code> fields are all optional.</p>
        <pre>
[
    {
        "pmid": "22521477",
        "title": "Hundreds of brain maps in one atlas...",
        "authors": ["Bezgin G", "Vakorin VA", "van Opstal AJ"],
        "abstract": "Non-invasive measuring methods such as EEG/MEG, fMRI and DTI are increasingly...",
        "year": 1997,
        "journal": "The Journal of neuroscience : the official journal of the Society for Neuroscience",
        "experiments": [
            {
                "id": "11069",
                "title": "Areas of brain activation during...",
                "caption": "Notes on..",
                "locations": ["-42.0,54.0,-4.0", "-62.0,-14.0,-24.0", "-42.0,-62.0,50.0"]
            },
            {
                "id": "12000",
                "title": "Areas of brain activation during...",
                "caption": "Notes on..",
                "locations": ["-42.0,54.0,-4.0", "-62.0,-14.0,-24.0", "-42.0,-62.0,50.0"]
            }
        ],
        "doi": "10.1016/j.neuroimage.2012.04.013",
        "meshHeadings": [
            {
                "name": "Animals",
                "code": "B01.050",
                "majorTopic": "N"
            },
            ... ,
            {
                "name": "Computer Simulation",
                "code": "L01.224.160",
                "majorTopic": "N"
            }
        ]
    },
    {
        ...
    }
]
        </pre>
        <form action="/bulk-add" method="post" enctype="multipart/form-data">
        <label class="btn btn-default btn-file" id="uploader">
            Browse <input type="file" name="articlesFile">
        </label>
        <label class="btn btn-default btn-file">
            Submit <input type="submit" hidden>
        </label>
    </form>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <script>
        $(document).on('change',':file',function(e) {
            var input = $(this),
                    label=input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect',[label]);
            var file = e.target.files[0];
            if (!file) {
                $("#uploader").after($("<p>").text("Invalid File Selected").css("padding-left",'8%'));
            }
            if (file.size > 2000000) { // 2MB Limit
                // TODO: do not use alerts; show a popup modal if you really need to
                alert("File size too large. Please contact site administrators if you want to submit larger files.");
                location.reload();
            } else {
                $("#uploader").before($("<p>").text(label).css("padding-left","8%"));

            }
        });
    </script>
{% end %}
