<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://brainspell.herokuapp.com/static/img/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View Article - Brainspell v2</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://brainspell.herokuapp.com/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/location-table.css" rel="stylesheet">
    <link href="/static/css/column.css" media="screen and (min-device-width: 800px)" rel="stylesheet">
    <link href="/static/css/view-article.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/definitions.js"></script>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43071909-12', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://brainspell.herokuapp.com/">Brainspell</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if title=="" %}
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                {% end %}
                {% if title!="" %}
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                {% end %}
                    <li>
                        <a href="/contribute">Contribute</a>
                    </li>
                    <li>
                        <a href="https://github.com/neelsomani/brainspell-neo">GitHub</a>
                    </li>
                {% if title!="" %}
                    <li>
                        <a href=" javascript:document.location.href=getaURL('id')"> Add Article to Docket </a>
                    </li>
                {% end %}
                </ul>
                {% if title!="" %}
                   <a href="/account" class="navbar-brand navbar-right" style="font-size:1em;"> Welcome {{ title }}</a>
                {% end %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Brainspell</h1>
                <p class="lead">An open, human-curated classification of neuroimaging literature.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container" id="articleContents" style="padding-bottom: 30px;">
    </div>

    <div class="container" style="padding-bottom: 30px;">
        <div id="experiments"></div>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="https://brainspell.herokuapp.com/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://brainspell.herokuapp.com/static/js/bootstrap.min.js"></script>

    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/detector.js"></script>
    <script src='/static/js/subdivision-modifier.js'></script>
    <script src="/static/js/PLYLoader.js"></script>
    <script src="/static/js/trackball-controls.js"></script>
    <script src="/static/js/brain-widget.js"></script>

    <script>
        function popup(element) {
            var first = $("<div>", {"id":"myModal","class":"modal fade","role":"dialog"}).append(
                    $("<div>", {"class":"modal-dialog"}).append(
                        $("<div>", {"class":"modal-content"}).append(
                            $("<div>", {"class":"modal-header"}).append(
                    $("<button>", {"type":"button","class":"close","data-dismiss":"modal"})).append
                            ($("<h4>", {"class":"modal-title"}).text(element))).append(
                        $("<div>", {"class":"modal-body"}).append(
                                $("<p>").text(definitions[element])
                        ).append(
                                $("<a>", {"type":"button","class": "btn btn-default","onclick":`updateVote('${element}','up')`}).text("Agree")
                        ).append(
                                $("<a>", {"type":"button","class": "btn btn-default","onclick":`updateVote('${element}','down')`}).text("Disagree"))
                        ).append(
                            $("<div>", {"class":"modal-footer"}).append(
                                $("<button>", {"type":"button","class": "btn btn-default","data-dismiss":"modal"}).text("Close"))
                        )).css("z-index","2000"));
            $("#articleContents").append(first);
            // remove the modal from the DOM on hide
            $('#myModal').on('hidden.bs.modal', function(){
                $(this).remove();
            });
        }
        function searcher() {
            $('#search').keyup(function () {
                var current_query = $('#search').val();
                if (current_query != "") {
                    $(".list-group li").hide();
                    $(".list-group li").each(function () {
                        var current_keyword = $(this).text();
                        // case insensitive search
                        if (current_keyword.toLowerCase().indexOf(current_query.toLowerCase()) >= 0) {
                            $(this).show();
                        }
                    });
                } else {
                    $(".list-group li").show();
                }
            });
        }


        function meshAdder() {
            var items = $("<ul>", {"class":"list-group"});
            for (var i = 0; i < descriptors.length; i++) {
                var temp = descriptors[i]["name"];
                var single = $("<li>", {"class":"list-group-item"}).text(temp).attr("onclick", "popup('" + temp + "')").attr("data-toggle", "modal").attr("data-target", "#myModal");
                items.append(single);
            }
            var descriptor = $("<div>", {"class": "container"}).append(
                $("<div>", {"class":"row"}).append(
                    $("<div>",{"id":"descriptorModal", "class":"modal fade bs-example-modal-lg","tabindex":-1,"role":"dialog","aria-labelledby":"myLargeModalLabel"}).append(
                        $("<div>",{"class":"modal-dialog modal-lg"}).append(
                            $("<div>",{"class":"modal-content"}).append(
                                $("<div>",{"id":"custom-search-input"}).append(
                                    $("<div>",{"class":"input-group col-md-12"}).append(
                                            $("<input>",{"id":"search","type":"text","class":"form-control input-lg","placeholder":"Search Descriptor"})
                                    ).append(
                                        $("<span>",{"class":"input-group-btn"}).append(
                                                $("<button>",{"class":"btn btn-info btn-lg","type":"button"}).append(
                                                        $("<i>",{"class":"glyphicon glyphicon-search"})
                                                )
                                        )
                                    )
                                ).append(items)
                            )
                        )
                    )
                )
            ).css("z-index","1999");
            $("#articleContents").append(descriptor);
            $('#descriptorModal').on('hidden.bs.modal', function(){
                $(this).remove();
            });
            searcher();
        }

        var count = 1;
        var experimentsObj;
        var $resultClone = $("<div>", {"class": "row"}).css("padding", "10px");
        $("#articleContents").append($("<p>").css("color", "#c0c0c0").text("Loading..."));
        $($.ajax({
            type: "GET",
            url: "/json/article?pmid={{id}}"
        }).complete(function(o) {
            j = o.responseText;
            obj = JSON.parse(j);
            metadata = JSON.parse(obj["metadata"])["meshHeadings"];
            $("#articleContents").html("");
            $("#articleContents").append($("<h2>").text(obj["title"].replace(/\\"/g, '"').replace(/\\'/g, "'")));
            $("#articleContents").append($("<p>").css("color", "#c0c0c0").text(obj["authors"].split(",").join(", ").replace(/\\"/g, '"').replace(/\\'/g, "'")));

            var metadataStr = "";
            for (var i = 0; i < metadata.length; i++) {
                if (metadataStr != "") {
                    metadataStr = metadataStr + ", " + metadata[i]["name"];
                }
                else {
                    metadataStr = metadata[i]["name"];
                }
            }
            var metadatalst = [];
            for (var j = 0; j < metadata.length; j++) {
                metadatalst.push(metadata[j]["name"]);
            }
            // Create a modal for each term (approve or reject)
            var dropper = $("<div/>");
            dropper.addClass("dropdown");
            for (var i = 0; i < metadatalst.length; i++) {
                var temp = metadatalst[i];
                dropper.append($("<button>").text(metadatalst[i]).attr("class", "dropbtn").attr("onclick", "popup('" + temp + "')").attr("data-toggle", "modal").attr("data-target", "#myModal"));
            }

            $("#articleContents").append($("<p>", {"class": "make-column"}).text(obj["abstract"].replace(/\\"/g, '"').replace(/\\'/g, "'")));
            var linkParagraph = $("<p>");
            linkParagraph.append($("<a>").attr("href", "https://www.ncbi.nlm.nih.gov/pubmed/" + obj["pmid"]).text("PubMed"));
            $("#articleContents").append(linkParagraph);
            $("#articleContents").append($("<p>").css("color", "#c0c0c0").text("MeSH descriptors: "));

            dropper.append($("<button>",{"data-toggle":"modal","data-target":".bs-example-modal-lg","class":"dropbtn"}).text("Add MeSH descriptor").attr("onclick","meshAdder()").css("font-weight","bold"));

            $("#articleContents").append(dropper);

            // TODO: add "action" once that endpoint is finished
            var form = $('<form>', {"method":"post",'id':"locations", "onsubmit": "return submitHandler();"});
            // generate experiment tables
            experimentsObj = jQuery.parseJSON(obj["experiments"]);
            for (var i = 0; i < experimentsObj.length; i++) {
                if (experimentsObj[i]["locations"].length > 0) {
                    var expContainer = $("<div>", {"id": "container" + experimentsObj[i]["id"], "class": "experimentContainer"});
                    expContainer.append(experimentsTable(experimentsObj[i]["locations"], count));
                    form.append(expContainer);
                    count++;
                }
            }

            // start brain widget generation

            if(!(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent))) {
                // if not on mobile
                $("body").append("<canvas id='3d' style='position:fixed;top:0;left:0;width:100%;height:100%;pointer-events:none'>");
                if( Detector.webgl ){
                    renderer = new THREE.WebGLRenderer({
                        canvas: document.getElementById("3d"),
                        antialias               : true, // to get smoother output
                        preserveDrawingBuffer   : true, // to allow screenshot
                        alpha: true
                    });
                    renderer.setClearColor( 0xffffff, 0 );
                    renderer.setPixelRatio(window.devicePixelRatio ? window.devicePixelRatio : 1);
                } else {
                    console.log("ERROR: No WebGLRenderer available");
                    renderer = new THREE.CanvasRenderer();
                }

                exp = experimentsObj;
                configureExperiments(experimentsObj);

                requestAnimationFrame(animate);
            }
            

            // end brain widget generation

            form.append($("<div>").css("clear", "both"));

            if (experimentsObj.length > 0) {
                form.append($("<button>", {"type":"submit","id":"scorer","class":"btn btn-default","onclick":"submitHandler()"}).css("margin-top", "30px").text("Save Scores"));
                $("#articleContents").append(form);
            }

            $(".experimentContainer").each(function() {
                var elemID = $(this).attr("id").replace("container", "");
                if (document.getElementById(elemID) != null) {
                    var wrapper = document.createElement("div");
                    wrapper.append(document.getElementById(elemID));
                    wrapper.style.cssFloat = "left";
                    wrapper.style.styleFloat = "left";
                    wrapper.style.paddingRight = "30px";
                    document.getElementById('container' + elemID).insertBefore(
                        wrapper, document.getElementById('container' + elemID).firstChild);
                }
                $(this).append($("<div>").css("clear", "both"));
            });
    	}));

        function configureExperiments(exp) {
            $("#experiments").html("");
            for(var i=0;i<exp.length;i++)
            {
                if(exp[i].locations.length==0)
                    continue;
                var widgetElem = $('<div class="experiment" id="'+exp[i].id+'">');
                var titleElem = $("<div>", {"class": "experiment-title"}).append($("<div>", {"class": "title"}));
                widgetElem.append(titleElem);
                var captionElem = $("<div>", {"class": "experiment-caption"}).append($("<div>", {"class": "caption"}));
                widgetElem.append(captionElem);
                var table = $("<table>").append($("<tbody>").append($("<tr>").append($("<td>").append($("<div>", {"class": "metaCoords"})))));
                widgetElem.append(table);
                $("#experiments").append(widgetElem);
                addExperiment(exp[i].id, exp[i]);
            }
        }

        function experimentsTable(array, position) {
            var table = $("<table>").css("position", "relative");
            table.addClass("scroller");
            table.addClass("gradient-style");
            table.append($("<caption>").text("Experiment " + position));
            var contents = $('<tbody>');
            contents.addClass("experiments-tbody");
            var header = $('<tr>');
            header.append($("<td>", {"class": "experiment-header"}).text("X"));
            header.append($("<td>", {"class": "experiment-header"}).text("Y"));
            header.append($("<td>", {"class": "experiment-header"}).text("Z"));
            header.append($("<td>", {"class": "experiment-header"}).text("Z-effective"));
            contents.append(header);
            for (var i = 0; i < array.length; i++) {
                var row = $("<tr>", {"class": "experiment-table-row"}).attr("onclick", "rowClicked(this, " + position + ")");
                array[i] = array[i].split(",");
                for (var j in array[i]) {
                    row.append($("<td>", {"style": "height:100%;"}).text(array[i][j]));
                }
                row.append($("<td>").css("padding-top", "5px").css("padding-bottom", "5px").append($("<input>", {"type": "number", "style":"width:60%;", "step":"0.01","id":"" + position + i})));
                contents.append(row);
            }
            contents.append($("<tr>").append($("<td>").css("width","100%").css("padding-top", "5px").css("padding-bottom", "5px").append($("<a>", {"href":"/account", "style":"width:60%;","id":"" + position + i})).text("Add a Row").css("text-align","center")));
            table.append(contents);
            return table;
        }

        function drop(element) {
            if (element.lastChild.style.display == "block") {
                element.lastChild.style.display = "none";
            } else {
                element.lastChild.style.display = "block";
            }
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        };

        // Add altered values to database
        function submitHandler() {
            var changes = {};
            for (var table = count-2; table >= 0; table--) {
                for (var row = 0; row < experimentsObj[table]["locations"].length;row++) {
                    if ($("#" + table + row).val() != "") {
                        changes["" + table +','+ row] = $("#" + table + row).val()
                    }
                }

            }
            changes = JSON.stringify(changes);
            console.log(changes);
            $("#locations").append("<input type='hidden' name='dbChanges' id='dbChanges' value='" + changes + "'/>");
            // location.reload();
            return false;
        }

        function getaURL(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return "/saveArticle" + "?id=" +  decodeURIComponent(results[2].replace(/\+/g, " "));
        }

        // TODO Send this information to the database, change schema to allow this
        function updateVote(topic,direction) {
            if (`{{ title }}` == "") {
                window.location.replace("/login");
            }
            console.log("Topic is: " + topic);
            console.log("Direction is: " + direction);
            var form = $("<form>", {"method":"post","id":"voterselector"});

        }
    </script>
</body>
</html>
