<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://brainspell.herokuapp.com/static/img/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View Article - Brainspell v2</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://brainspell.herokuapp.com/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://brainspell.herokuapp.com/static/css/location-table.css" rel="stylesheet">
    <link href="/static/css/column.css" media="screen and (min-device-width: 800px)" rel="stylesheet">
    <script type="text/javascript" src="/static/js/definitions.js"></script>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43071909-12', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://brainspell.herokuapp.com/">Brainspell</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if title=="" %}
                    <li>
                        <a href="https://brainspell.herokuapp.com/login">Login</a>
                    </li>
                    <li>
                        <a href="https://brainspell.herokuapp.com/register">Register</a>
                    </li>
                {% end %}
                {% if title!="" %}
                    <li>
                        <a href="https://brainspell.herokuapp.com/logout">Logout</a>
                    </li>
                {% end %}
                    <li>
                        <a href="https://github.com/neelsomani/brainspell-neo">GitHub</a>
                    </li>
                    <li>
                        <a href="#">Add Article to Docket</a>
                    </li>
                </ul>
                {% if title!="" %}
                   <a href="/account" class="navbar-brand navbar-right"style="font-size:1em;">Welcome {{ title }}</a>
                {% end %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Brainspell</h1>
                <p class="lead">The first open, human-curated classification of neuroimaging literature.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container" id="articleContents" style="padding-top:30px;padding-bottom:30px;">
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="https://brainspell.herokuapp.com/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://brainspell.herokuapp.com/static/js/bootstrap.min.js"></script>

    <script>
    function popup(element) {
        console.log(element);
        var first = $("<div>", {"id":"myModal","class":"modal fade","role":"dialog"}).append(
                $("<div>", {"class":"modal-dialog"}).append(
                    $("<div>", {"class":"modal-content"}).append(
                        $("<div>", {"class":"modal-header"}).append(
                $("<button>", {"type":"button","class":"close","data-dismiss":"modal"})).append($("<h4>", {"class":"modal-title"}).text(element))).append(
                    $("<div>", {"class":"modal-body"}).append(
                            $("<p>").text(definitions[element])
                    )
                    ).append(
                        $("<div>", {"class":"modal-footer"}).append(
                            $("<button>", {"type":"button","class": "btn btn-default","data-dismiss":"modal"}).text("Close"))
                            ))
                        );
        $("#articleContents").append(first);
    }

    //Better looking MeSH Descriptor Modal
    function meshadder() {
        console.log("I HIT THIS");
        var items = $("<ul>", {"class":"list-group"});
        for (var i = 0; i < descriptors.length; i++) {
            var single = $("<li>", {"class":"list-group-item"}).text(descriptors[i]["name"]);
            items.append(single);
        }
        var descriptor = $("<div>", {"class": "container"}).append(
                $("<div>", {"class":"row"}).append(
                $("<div>",{"class":"modal fade bs-example-modal-lg","tabindex":-1,"role":"dialog","aria-labelledby":"myLargeModalLabel"}).append(
                    $("<div>",{"class":"modal-dialog modal-lg"}).append(
                        $("<div>",{"class":"modal-content"}).append(
                            $("<div>",{"id":"custom-search-input"}).append(
                                $("<div>",{"class":"input-group col-md-12"}).append(
                                        $("<input>",{"id":"search","type":"text","class":"form-control input-lg","placeholder":"Search Descriptor"})
                                ).append(
                                    $("<span>",{"class":"input-group-btn"}).append(
                                            $("<button>",{"class":"btn btn-info btn-lg","type":"button"}).append(
                                                    $("<i>",{"class":"glyphicon glyphicon-search"})
                                            )
                                    )
                                )
                            ).append(items)
                        )
                    )
                )

        )
    );
        $("#articleContents").append(descriptor);
    }


        var $resultClone = $("<div>", {"class": "row"}).css("padding", "10px");
        $("#articleContents").append($("<p>").css("color", "#c0c0c0").text("Loading..."));
        $($.ajax({
            type: "GET",
	        url: "/article?id={{id}}"
        }).complete(function(o) {
            j = o.responseText;
            obj = JSON.parse(j);
            metadata = JSON.parse(obj["metadata"])["meshHeadings"];
            $("#articleContents").html("");
    		$("#articleContents").append($("<h2>").text(obj["title"].replace(/\\"/g, '"').replace(/\\'/g, "'")));
    		$("#articleContents").append($("<p>").css("color", "#c0c0c0").text(obj["authors"].split(",").join(", ").replace(/\\"/g, '"').replace(/\\'/g, "'")));

            var metadataStr = "";
            for (var i = 0; i < metadata.length; i++) {
                if (metadataStr != "") {
                    metadataStr = metadataStr + ", " + metadata[i]["name"];
                }
                else {
                    metadataStr = metadata[i]["name"];
                }
            }
            var metadatalst = [];
            for (var j = 0; j < metadata.length; j++) {
                metadatalst.push(metadata[j]["name"]);
            }
            //Create a modal for each term (approve or reject)
            var dropper = $("<div/>");
            dropper.addClass("dropdown");
            for (var i = 0; i < metadatalst.length; i++) {
                var temp = metadatalst[i];
                dropper.append($("<button>").text(metadatalst[i]).attr("class", "dropbtn").attr("onclick", `popup("${temp}` + '")').attr("data-toggle", "modal").attr("data-target", "#myModal"));
            }

//
//
// .append($("<div>").attr("class",'dropdown-content').append($("<a>").attr("href", "#").text("Agree")).append($("<a>").attr("href","#").text("Disagree"))));

    		$("#articleContents").append($("<p>", {"class": "make-column"}).text(obj["abstract"].replace(/\\"/g, '"').replace(/\\'/g, "'")));
            var linkParagraph = $("<p>");
            linkParagraph.append($("<a>").attr("href", "https://www.ncbi.nlm.nih.gov/pubmed/" + obj["pmid"]).text("PubMed"));
            $("#articleContents").append(linkParagraph);
            $("#articleContents").append($("<p>").css("color", "#c0c0c0").text("MeSH descriptors: "));
            $("#articleContents").append(dropper);
            $("#articleContents").append($("<p>").append($("<a>").attr("href", "#!").attr("onclick", "addMesh()").text("Add MeSH descriptor")));


            $("#articleContents").append($("<button>",{"data-toggle":"modal","data-target":".bs-example-modal-lg"}).text("Add MeSH descriptor").attr("onclick","meshadder()"));




            // generate experiment tables
            var experimentsObj = jQuery.parseJSON(obj["experiments"]);
            var count = 1;
            for (var i = 0; i < experimentsObj.length; i++) {
                if (experimentsObj[i]["locations"].length > 0) {
                    $("#articleContents").append(experimentsTable(experimentsObj[i]["locations"], count));
                    count++;
                }
            }
            $("#articleContents").append($("<div>").css("clear", "both"));
    	}));

        function experimentsTable(array, position) {
            var table = $("<table>", {"class": "gradient-style"});
            table.addClass("scroller");
            table.addClass("gradient-style");
            table.append($("<caption>").text("Experiment " + position));
            var contents = $('<tbody>');
            var header = $('<tr>');
            header.append($("<td>", {"class": "experiment-header"}).text("X"));
            header.append($("<td>", {"class": "experiment-header"}).text("Y"));
            header.append($("<td>", {"class": "experiment-header"}).text("Z"));
            header.append($("<td>", {"class": "experiment-header"}).text("Z-effective"));
            contents.append(header);
            for (var i = 0; i < array.length; i++) {
                var row = $("<tr>");
                array[i] = array[i].split(",");
                for (var j in array[i]) {
                    row.append($("<td>", {"style": "height:100%;"}).text(array[i][j]));
                }
                row.append($("<td>").css("padding-top", "5px").css("padding-bottom", "5px").append($("<input>", {"type": "number", "style":"width:60%;", "step":"0.01"})));
                contents.append(row);
            }

            table.append(contents);
            return table;
        }


    </script>

    <style>
        .dropbtn {
            background-color: white;
            color: grey;
            font-size: 1em;
            border: 1px;
            cursor: pointer;
            position: relative;
        }
        .dropbtn:hover .dropbtn:focus {
            background-color: #3e8e41;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            float: right;
        }
        .dropdown-content {
            display: none;
            position: relative;
            background-color: #f9f9f9;
            min-width: 30px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
            right: 0;
        }
        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            position: relative;
        }
        .dropdown-content a:hover {background-color: #f1f1f1}
        .show {display:block;}
        #custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
    </style>



    <script>
    function drop(element) {
        if (element.lastChild.style.display == "block") {
            element.lastChild.style.display = "none";
        } else {
            element.lastChild.style.display = "block";
        }
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
    <!--Hides the Buttons on the Numerical Input Fields-->
    <style>
    input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0;
    }
    </style>
</body>
</html>
