<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://brainspell.herokuapp.com/static/img/favicon.png">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>View Article - Brainspell v2</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://brainspell.herokuapp.com/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://brainspell.herokuapp.com/static/css/location-table.css" rel="stylesheet">
    <link href="/static/css/column.css" media="screen and (min-device-width: 800px)" rel="stylesheet">
    <link href="/static/css/view-article.css" rel="stylesheet">
    <script type="text/javascript" src="/static/js/definitions.js"></script>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43071909-12', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="https://brainspell.herokuapp.com/">Brainspell</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                {% if title=="" %}
                    <li>
                        <a href="/login">Login</a>
                    </li>
                    <li>
                        <a href="/register">Register</a>
                    </li>
                {% end %}
                {% if title!="" %}
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                {% end %}
                    <li>
                        <a href="/contribute">Contribute</a>
                    </li>
                    <li>
                        <a href="https://github.com/neelsomani/brainspell-neo">Github</a>
                    </li>
                    <li>
                        <a href=" javascript:document.location.href=getaURL('id')"> Add Article to Docket </a>
                    </li>
                </ul>
                {% if title!="" %}
                   <a href="/account" class="navbar-brand navbar-right" style="font-size:1em;"> Welcome {{ title }}</a>
                {% end %}
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h1>Brainspell</h1>
                <p class="lead">The first open, human-curated classification of neuroimaging literature.</p>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->

    <div class="container" id="articleContents" style="padding-bottom: 30px;">
    </div>

    <div class="container" style="padding-bottom: 30px;">
        <div id="experiments"></div>
    </div>

    <!-- jQuery Version 1.11.1 -->
    <script src="https://brainspell.herokuapp.com/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="https://brainspell.herokuapp.com/static/js/bootstrap.min.js"></script>

    <script src="/static/js/three.min.js"></script>
    <script src="/static/js/detector.js"></script>
    <script src='/static/js/subdivision-modifier.js'></script>
    <script src="/static/js/PLYLoader.js"></script>
    <script src="/static/js/trackball-controls.js"></script>

    <style>
    .experiment-locations {
        display: none;
    }
    .experiment {
        width: 300px;
        float: left;
    }
    </style>

    <script>
        function popup(element) {
            var first = $("<div>", {"id":"myModal","class":"modal fade","role":"dialog"}).append(
                    $("<div>", {"class":"modal-dialog"}).append(
                        $("<div>", {"class":"modal-content"}).append(
                            $("<div>", {"class":"modal-header"}).append(
                    $("<button>", {"type":"button","class":"close","data-dismiss":"modal"})).append
                            ($("<h4>", {"class":"modal-title"}).text(element))).append(
                        $("<div>", {"class":"modal-body"}).append(
                                $("<p>").text(definitions[element])
                        ).append(
                                $("<a>", {"type":"button","class": "btn btn-default","onclick":`updateVote('${element}','up')`}).text("Agree")
                        ).append(
                                $("<a>", {"type":"button","class": "btn btn-default","onclick":`updateVote('${element}','down')`}).text("Disagree"))
                        ).append(
                            $("<div>", {"class":"modal-footer"}).append(
                                $("<button>", {"type":"button","class": "btn btn-default","data-dismiss":"modal"}).text("Close"))
                        )).css("z-index","2000"));
            $("#articleContents").append(first);
            // remove the modal from the DOM on hide
            $('#myModal').on('hidden.bs.modal', function(){
                $(this).remove();
            });
        }
        function searcher() {
            $('#search').keyup(function () {
                var current_query = $('#search').val();
                if (current_query != "") {
                    $(".list-group li").hide();
                    $(".list-group li").each(function () {
                        var current_keyword = $(this).text();
                        // case insensitive search
                        if (current_keyword.toLowerCase().indexOf(current_query.toLowerCase()) >= 0) {
                            $(this).show();
                        }
                    });
                } else {
                    $(".list-group li").show();
                }
            });
        }


        function meshAdder() {
            var items = $("<ul>", {"class":"list-group"});
            for (var i = 0; i < descriptors.length; i++) {
                var temp = descriptors[i]["name"];
                var single = $("<li>", {"class":"list-group-item"}).text(temp).attr("onclick", "popup('" + temp + "')").attr("data-toggle", "modal").attr("data-target", "#myModal");
                items.append(single);
            }
            var descriptor = $("<div>", {"class": "container"}).append(
                $("<div>", {"class":"row"}).append(
                    $("<div>",{"id":"descriptorModal", "class":"modal fade bs-example-modal-lg","tabindex":-1,"role":"dialog","aria-labelledby":"myLargeModalLabel"}).append(
                        $("<div>",{"class":"modal-dialog modal-lg"}).append(
                            $("<div>",{"class":"modal-content"}).append(
                                $("<div>",{"id":"custom-search-input"}).append(
                                    $("<div>",{"class":"input-group col-md-12"}).append(
                                            $("<input>",{"id":"search","type":"text","class":"form-control input-lg","placeholder":"Search Descriptor"})
                                    ).append(
                                        $("<span>",{"class":"input-group-btn"}).append(
                                                $("<button>",{"class":"btn btn-info btn-lg","type":"button"}).append(
                                                        $("<i>",{"class":"glyphicon glyphicon-search"})
                                                )
                                        )
                                    )
                                ).append(items)
                            )
                        )
                    )
                )
            ).css("z-index","1999");
            $("#articleContents").append(descriptor);
            $('#descriptorModal').on('hidden.bs.modal', function(){
                $(this).remove();
            });
            searcher();
        }

        var count = 1;
        var experimentsObj;
        var $resultClone = $("<div>", {"class": "row"}).css("padding", "10px");
        $("#articleContents").append($("<p>").css("color", "#c0c0c0").text("Loading..."));
        $($.ajax({
            type: "GET",
            url: "/json/article?pmid={{id}}"
        }).complete(function(o) {
            j = o.responseText;
            obj = JSON.parse(j);
            metadata = JSON.parse(obj["metadata"])["meshHeadings"];
            $("#articleContents").html("");
            $("#articleContents").append($("<h2>").text(obj["title"].replace(/\\"/g, '"').replace(/\\'/g, "'")));
            $("#articleContents").append($("<p>").css("color", "#c0c0c0").text(obj["authors"].split(",").join(", ").replace(/\\"/g, '"').replace(/\\'/g, "'")));

            var metadataStr = "";
            for (var i = 0; i < metadata.length; i++) {
                if (metadataStr != "") {
                    metadataStr = metadataStr + ", " + metadata[i]["name"];
                }
                else {
                    metadataStr = metadata[i]["name"];
                }
            }
            var metadatalst = [];
            for (var j = 0; j < metadata.length; j++) {
                metadatalst.push(metadata[j]["name"]);
            }
            // Create a modal for each term (approve or reject)
            var dropper = $("<div/>");
            dropper.addClass("dropdown");
            for (var i = 0; i < metadatalst.length; i++) {
                var temp = metadatalst[i];
                dropper.append($("<button>").text(metadatalst[i]).attr("class", "dropbtn").attr("onclick", "popup('" + temp + "')").attr("data-toggle", "modal").attr("data-target", "#myModal"));
            }

            $("#articleContents").append($("<p>", {"class": "make-column"}).text(obj["abstract"].replace(/\\"/g, '"').replace(/\\'/g, "'")));
            var linkParagraph = $("<p>");
            linkParagraph.append($("<a>").attr("href", "https://www.ncbi.nlm.nih.gov/pubmed/" + obj["pmid"]).text("PubMed"));
            $("#articleContents").append(linkParagraph);
            $("#articleContents").append($("<p>").css("color", "#c0c0c0").text("MeSH descriptors: "));

            dropper.append($("<button>",{"data-toggle":"modal","data-target":".bs-example-modal-lg","class":"dropbtn"}).text("Add MeSH descriptor").attr("onclick","meshAdder()").css("font-weight","bold"));

            $("#articleContents").append(dropper);

            var form = $('<form>', {"action":"/view-article", "method":"post",'id':"locations"});
            // generate experiment tables
            experimentsObj = jQuery.parseJSON(obj["experiments"]);
            for (var i = 0; i < experimentsObj.length; i++) {
                if (experimentsObj[i]["locations"].length > 0) {
                    var expContainer = $("<div>", {"id": "container" + experimentsObj[i]["id"], "class": "experimentContainer"});
                    expContainer.append(experimentsTable(experimentsObj[i]["locations"], count));
                    form.append(expContainer);
                    count++;
                }
            }

            // start brain widget generation

            $("body").append("<canvas id='3d' style='position:fixed;top:0;left:0;width:100%;height:100%;pointer-events:none'>");
            if( Detector.webgl ){
                renderer = new THREE.WebGLRenderer({
                    canvas: document.getElementById("3d"),
                    antialias               : true, // to get smoother output
                    preserveDrawingBuffer   : true, // to allow screenshot
                    alpha: true
                });
                renderer.setClearColor( 0xffffff, 0 );
                renderer.setPixelRatio(window.devicePixelRatio ? window.devicePixelRatio : 1);
            } else {
                console.log("ERROR: No WebGLRenderer available");
                renderer = new THREE.CanvasRenderer();
            }

            //parseTable(experimentsObj);
            exp = experimentsObj;
            configureExperiments();
            //initTranslucentBrain(ex);
            //ex.render.spheres = new THREE.Object3D();
            //ex.render.scene.add(ex.render.spheres);

            animate();

            // end brain widget generation

            form.append($("<div>").css("clear", "both"));

            if (experimentsObj.length > 0) {
                form.append($("<button>", {"type":"submit","id":"scorer","class":"btn btn-default","onclick":"submitHandler()"}).css("margin-top", "30px").text("Save Scores"));
                $("#articleContents").append(form);
            }

            $(".experimentContainer").each(function() {
                var elemID = $(this).attr("id").replace("container", "");
                document.getElementById('container' + elemID).appendChild(document.getElementById(elemID));
            });
    	}));

        function configureExperiments()
        {
            $("#experiments").html("");
            for(i=0;i<exp.length;i++)
            {
                if(exp[i].locations.length==0)
                    continue;
                $("#experiments").append($('<div class="experiment" id="'+exp[i].id+'">').load("/static/data/experiment.html",addExperiment(exp[i].id)));
            }
        }

        function experimentsTable(array, position) {
            var table = $("<table>", {"class": "gradient-style"});
            table.addClass("scroller");
            table.addClass("gradient-style");
            table.append($("<caption>").text("Experiment " + position));
            var contents = $('<tbody>');
            var header = $('<tr>');
            header.append($("<td>", {"class": "experiment-header"}).text("X"));
            header.append($("<td>", {"class": "experiment-header"}).text("Y"));
            header.append($("<td>", {"class": "experiment-header"}).text("Z"));
            header.append($("<td>", {"class": "experiment-header"}).text("Z-effective"));
            contents.append(header);
            for (var i = 0; i < array.length; i++) {
                var row = $("<tr>");
                array[i] = array[i].split(",");
                for (var j in array[i]) {
                    row.append($("<td>", {"style": "height:100%;"}).text(array[i][j]));
                }
                row.append($("<td>").css("padding-top", "5px").css("padding-bottom", "5px").append($("<input>", {"type": "number", "style":"width:60%;", "step":"0.01","id":"" + position + i})));
                contents.append(row);
            }
            contents.append($("<td>").css("width","100%").css("padding-top", "5px").css("padding-bottom", "5px").append($("<a>", {"href":"/account", "style":"width:60%;","id":"" + position + i})).text("Add a Row").css("text-align","center"));
            table.append(contents);
            return table;
        }
        function drop(element) {
            if (element.lastChild.style.display == "block") {
                element.lastChild.style.display = "none";
            } else {
                element.lastChild.style.display = "block";
            }
        }

        // Close the dropdown menu if the user clicks outside of it
        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {

            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
              var openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        };
        // Add altered values to database
        var changes = {};
        function submitHandler() {
            for (var table = count-1; table > 0; table--) {
                for (var row = 0; row < experimentsObj[table]["locations"].length;row++) {
                    if ($("#" + table + row).val() != "") {
                        changes["" + table +','+ row] = $("#" + table + row).val()
                    }
                }

            }
            changes = JSON.stringify(changes);
            console.log(changes);
            $("#locations").append("<input type='hidden' name='dbChanges' id='dbChanges' value='" + changes + "'/>");
            location.reload();
            return true;
        }
        function getaURL(name, url) {
            if (!url) {
              url = window.location.href;
            }
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
                results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return "/saveArticle" + "?id=" +  decodeURIComponent(results[2].replace(/\+/g, " "));
        }
        //TODO Send this information to the database, change schema to allow this
        function updateVote(topic,direction) {
            if (`{{ title }}` == "") {
                alert("You must be logged in to vote");
                window.location.replace("/login");
            }
            console.log("Topic is: " + topic);
            console.log("Direction is: " + direction);
        }


        // start brain widget functions

        function parseTable(row,eid)
        {
            var ex=findExperimentByEID(eid);
            var i=-1;
            var tr=$(row).closest("tr")[0];
            if(tr)
            {
                i=$(tr).index();
                if(i>=0) {
                    var cells=$(tr).find('td');
                    var x=parseFloat(cells[0].textContent);
                    var y=parseFloat(cells[1].textContent);
                    var z=parseFloat(cells[2].textContent);
                    ex.locations[i].x=x;
                    ex.locations[i].y=y;
                    ex.locations[i].z=z;
                    
                    save(eid,"locations",JSON.stringify(ex.locations,["x","y","z"]));
                }
            }
                
            // Add location spheres
            var geometry = new THREE.SphereGeometry(1,16,16);
            var color=0xff0000;
            for(j=0;j<ex.locations.length;j++)
            {
                if(ex.locations[j].sph)
                {
                    color=ex.locations[j].sph.material.color;
                    ex.render.spheres.remove(ex.locations[j].sph);
                }
                var x=ex.locations[j][0];
                var y=ex.locations[j][1];
                var z=ex.locations[j][2];
                var sph = new THREE.Mesh( geometry, new THREE.MeshLambertMaterial({color: color}));
                sph.position.x=parseFloat(x)*0.14;
                sph.position.y=parseFloat(y)*0.14+3;
                sph.position.z=parseFloat(z)*0.14-2;
                ex.render.spheres.add(sph);
                ex.locations[j].sph=sph;
            }
        }

        function updateSize() {
            var canvas=$("#3d")[0];
            var width = canvas.clientWidth;
            var height = canvas.clientHeight;
            if ( canvas.width !== width || canvas.height != height ) {
                renderer.setSize ( width, height, false );
            }
        }

        function animate() {
            requestAnimationFrame( animate );
            updateSize();
            renderer.setClearColor( 0xffffff,0 );
            renderer.clear( true );
            renderer.enableScissorTest( true );
            for(iExp in exp)
                if(exp[iExp].render)
                    render(iExp);
            renderer.enableScissorTest( false );
        }

        // render the scene
        function render(iExp) {
            var scene=exp[iExp].render.scene;
            var camera=exp[iExp].render.camera;
            var trackball=exp[iExp].render.cameraControls;
            
            // update camera controls
            trackball.update();
            
            // the scene object contains the element object, which is the div in which
            // 3d data is displayed.
            var element = exp[iExp].render.container[0];
            var rect = element.getBoundingClientRect();
            if ( rect.bottom < 0 || rect.top  > renderer.domElement.clientHeight ||
                 rect.right  < 0 || rect.left > renderer.domElement.clientWidth ) {
              return;  // it's off screen
            }
            // set the viewport
            var width  = rect.right - rect.left;
            var height = rect.bottom - rect.top;
            var left   = rect.left;
            var bottom = renderer.domElement.clientHeight - rect.bottom;
            
            // compensate for window springiness
            var dy=window.pageYOffset;
            if(dy<0) {
                bottom-=dy;
            } else {
                dy=window.pageYOffset-document.body.scrollHeight+window.innerHeight;
                if(dy>0) {
                    bottom-=dy;
                }
            }
            
            // place viewport
            camera.aspect = width / height;
            camera.updateProjectionMatrix();
            renderer.setViewport( left, bottom, width, height );
            renderer.setScissor( left, bottom, width, height );
            
            // actually render the scene
            renderer.render( scene, camera );
        }

        // Translucent Viewer
        function initTranslucentBrain(eid)
        {
            var ex=findExperimentByEID(eid);
            ex.render={};
            ex.render.container=$(".experiment#"+eid+" div.metaCoords");

            var container=ex.render.container;
            var width=container.width();
            var height=container.height();
            
            // create a scene
            ex.render.scene = new THREE.Scene();
            
            // create raycaster (for hit detection)
            container[0].addEventListener( 'mousedown', function(e){onDocumentMouseDown(e,eid);}, false );

            // put a camera in the scene
            ex.render.camera    = new THREE.PerspectiveCamera(40,width/height,25,50);
            ex.render.camera.position.set(0, 0, 40);
            ex.render.scene.add(ex.render.camera);

            // create a camera control
            ex.render.cameraControls=new THREE.TrackballControls(ex.render.camera,ex.render.container[0] )
            ex.render.cameraControls.noZoom=true;
            ex.render.cameraControls.addEventListener( 'change', function(){ex.render.light.position.copy( ex.render.camera.position );} );

            // allow 'p' to make screenshot
            //THREEx.Screenshot.bindKey(renderer);
            
            // Add lights
            var light   = new THREE.AmbientLight( 0x3f3f3f);
            ex.render.scene.add(light );
            ex.render.light = new THREE.PointLight( 0xffffff,2,80 );
            //var   light   = new THREE.DirectionalLight( 0xffffff);
            //light.position.set( Math.random(), Math.random(), Math.random() ).normalize();
            ex.render.light.position.copy( ex.render.camera.position );
            //light.position.set( 0,0,0 );
            ex.render.scene.add(ex.render.light );

            // Load mesh (ply format)
            var oReq = new XMLHttpRequest();
            oReq.open("GET", "/static/data/lrh3.ply", true);
            oReq.responseType="text";
            oReq.onload = function(oEvent)
            {
                var tmp=this.response;
                var modifier = new THREE.SubdivisionModifier(1);
                
                ex.render.material=new THREE.ShaderMaterial({
                    uniforms: { 
                        coeficient  : {
                            type    : "f", 
                            value   : 1.0
                        },
                        power       : {
                            type    : "f",
                            value   : 2
                        },
                        glowColor   : {
                            type    : "c",
                            value   : new THREE.Color('grey')
                        },
                    },
                    vertexShader    : [ 'varying vec3   vVertexWorldPosition;',
                                        'varying vec3   vVertexNormal;',
                                        'void main(){',
                                        '   vVertexNormal   = normalize(normalMatrix * normal);',
                                        '   vVertexWorldPosition    = (modelMatrix * vec4(position, 1.0)).xyz;',
                                        '   gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);',
                                        '}',
                                        ].join('\n'),
                    fragmentShader  : [ 'uniform vec3   glowColor;',
                                        'uniform float  coeficient;',
                                        'uniform float  power;',
                                        'varying vec3   vVertexNormal;',
                                        'varying vec3   vVertexWorldPosition;',
                                        'void main(){',
                                        '   vec3 worldCameraToVertex=vVertexWorldPosition - cameraPosition;',
                                        '   vec3 viewCameraToVertex=(viewMatrix * vec4(worldCameraToVertex, 0.0)).xyz;',
                                        '   viewCameraToVertex=normalize(viewCameraToVertex);',
                                        '   float intensity=pow(coeficient + dot(vVertexNormal, viewCameraToVertex), power);',
                                        '   gl_FragColor=vec4(glowColor, intensity);',
                                        '}',
                                    ].join('\n'),
                    transparent : true,
                    depthWrite  : false,
                });
                
                ex.render.geometry=new THREE.PLYLoader().parse(tmp);
                ex.render.geometry.sourceType = "ply";
                
                modifier.modify(ex.render.geometry);
                for(i=0;i<ex.render.geometry.vertices.length;i++)
                {
                    ex.render.geometry.vertices[i].x*=0.14;
                    ex.render.geometry.vertices[i].y*=0.14;
                    ex.render.geometry.vertices[i].z*=0.14;
                    ex.render.geometry.vertices[i].y+=3;
                    ex.render.geometry.vertices[i].z-=2;
                }

                ex.render.brainmesh=new THREE.Mesh(ex.render.geometry,ex.render.material);
                ex.render.scene.add(ex.render.brainmesh);
            };
            oReq.send();
        }

        function findExperimentByEID(eid) {
            var i;
            for(i=0;i<exp.length;i++)
                if(exp[i].id==eid)
                    break;
            if(i==exp.length) {
                console.log("ERROR: eid "+eid+" not found!");
            }
            return exp[i];
        }

        function addExperiment(eid)
        {
            return function(responseText, textStatus, XMLHttpRequest){

                // Configure legend (title and caption)
                //-------------------------------------
                var ex = findExperimentByEID(eid);
                var title=(ex.title)?ex.title:"(Empty)";
                var caption=(ex.caption)?ex.caption:"(Empty)";
                $(".experiment#"+eid+" .title").append(title);
                $(".experiment#"+eid+" .caption").append(caption);

                // Configure locations to 3D view
                //-------------------------------
                initTranslucentBrain(eid);
                ex.render.spheres = new THREE.Object3D();
                ex.render.scene.add(ex.render.spheres);

                // Configure stereotaxic table
                //----------------------------
                var table=$(".experiment#"+eid+" .xyztable table");
                if(table==undefined)
                    console.log("ERROR: table undefined");
                table.click(function(e){if(e.target.tagName=="TD") clickOnTable(e.target)});
                table.keydown(function(e){keydownOnTable(e.target)});

                // Add experiment locations to table
                if(!ex.locations)
                    return;
                var html="";
                table=$(".experiment#"+eid+" .xyztable table")[0];
                for(j=0;j<ex.locations.length;j++)
                {
                    var coords=[];
                    if(typeof ex.locations[j] == "string") {
                        coords=ex.locations[j].split(",");
                        ex.locations[j]={
                            x:coords[0],
                            y:coords[1],
                            z:coords[2]
                        }
                    } else {
                        coords[0]=ex.locations[j][0];
                        coords[1]=ex.locations[j][1];
                        coords[2]=ex.locations[j][2];
                    }
                    var new_row = table.insertRow(j);
                    new_row.innerHTML=[
                        "<td class='coordinate'>"+coords[0]+"</td>",
                        "<td class='coordinate'>"+coords[1]+"</td>",
                        "<td class='coordinate'>"+coords[2]+"</td>",
                        "<td class='input'><input type='image' class='del' src='/static/img/minus-circle.svg' onclick='delRow(this)'/></td>",
                        "<td class='input'><input type='image' class='add' src='/static/img/plus-circle.svg' onclick='addRow(this)'/></td>"
                    ].join("\n");
                }

                // Intercept enter on table cells
                $(".experiment#"+eid+" .xyztable table td").on( 'keydown',function(e) {
                    if(e.which==13&&e.shiftKey==false) {    // enter (without shift)
                        parseTable(this,eid);
                        return false;
                    }
                    if(e.which==9) {    // tab
                        parseTable(this,eid);
                    }
                });
                
                // Table actions
                //--------------
                // Split table
                $(".experiment#"+eid+" .button.split").click(function() {
                    splitTable(eid,ex.selectedRow);
                });
                // Import table
                $(".experiment#"+eid+" .button.import").click(function() {
                    importTable(eid);
                });

                // Parse locations: add locations to
                // 3d view and to stereotaxic table
                //----------------------------------
                parseTable("",eid);
                
                // Configure radio button groups for table marks
                $(".experiment#"+eid+" input:radio[value='Yes']").attr('name',"radio"+eid);
                $(".experiment#"+eid+" input:radio[value='No']").attr('name',"radio"+eid);

                updateExperiment(eid);
            }
        }

        function onDocumentMouseDown( event,eid ) {
            event.preventDefault();
            var ex=findExperimentByEID(eid);
            var x,y,i;
            var r = event.target.getBoundingClientRect();

            mouseVector = new THREE.Vector3();
            mouseVector.x= ((event.clientX-r.left) / event.target.clientWidth ) * 2 - 1;
            mouseVector.y=-((event.clientY-r.top) / event.target.clientHeight ) * 2 + 1;
            
            var raycaster=new THREE.Raycaster();
            raycaster.setFromCamera(mouseVector.clone(), ex.render.camera);
            var intersects = raycaster.intersectObjects( ex.render.spheres.children );

            if(intersects.length==0)
                return;
            ex.render.spheres.children.forEach(function( sph ) { sph.material.color.setRGB( 1,0,0 );});
            intersects[0].object.material.color.setRGB(0,1,0);
            $(".experiment#"+eid+" .xyztable table td").css({'background-color':''});
            for(i=0;i<ex.locations.length;i++)
                if(ex.locations[i].sph==intersects[0].object)
                    $(".experiment#"+eid+" .xyztable tr:eq("+i+") td.coordinate").css({"background-color":"lightGreen"});
        }

        function updateExperiment(eid)
        {
            
            /*
                Experiment-level display
                ------------------------
            */
            $(".stored").removeAttr('contentEditable');
            $(".experiment#"+eid+" .stored").removeClass('stored');

            // Experiment table mark (global)
            $(".experiment#"+eid+" div.tableAlert").show();
            $(".experiment#"+eid+" div.tableMark").hide();
            $(".experiment#"+eid+" td.coordinate").removeAttr("contentEditable");
            $(".experiment#"+eid+" th.input").hide();
            $(".experiment#"+eid+" td.input").hide();
            $(".experiment#"+eid+" .tableActions").hide();
            
            // Adjust locations table height
            var padd,legendheight,xyzhdrheight,ontheight,tableActionsHeight;
            padd=parseInt($('.experiment#'+eid).css('padding-top'));
            legendheight=$('.experiment#'+eid+' .experiment-title').innerHeight();
            legendheight+=$('.experiment#'+eid+' .experiment-caption').innerHeight();
            xyzhdrheight=$('.experiment#'+eid+' .xyzheader').innerHeight();
            ontheight=$('.experiment#'+eid+' .ontologies').innerHeight();
            badTableHeight=$(".experiment#"+eid+" input.badTable").innerHeight()+10;
            tableActionsHeight=0;
            $('.experiment#'+eid+' .xyztable').css({"height":300,"max-height":300-badTableHeight-padd-tableActionsHeight});
        }

        // TODO: add "hit detection"
    </script>
</body>
</html>
